@model GameLibraryProject.Models.Game

@{
    ViewBag.Title = "Create";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Game", method: FormMethod.Post))
{
    @Html.LabelFor(b => b.Title, "Game Title:")
    <br />
    @Html.TextBoxFor(b => b.Title, null, new { placeholder = "Type in the game's title", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Title, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(b => b.Producer, "Producer:")
    <br />
    @Html.TextBoxFor(b => b.Producer, null, new { placeholder = "Type in the game's producer", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Producer, "", new { @class = "text-danger" })
    <br />
    <p class="font-weight-bold mt-3">@Html.LabelFor(b => b.Price, "Price:")</p>
    @Html.TextBoxFor(b => b.Price, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.Price, "", new { @class = "text-danger" })
    <br />
    @Html.LabelFor(b => b.Summary, "Summary:")
    <br />
    @Html.TextArea("Summary", null, new { placeholder = "Type in the game's summary", @class = "form-control", @rows = "10" })
    @Html.ValidationMessageFor(b => b.Summary, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Publisher", "Publisher:")
    <br />
    @Html.DropDownListFor(b => b.PublisherId, new SelectList(Model.PublishersList, "Value", "Text"), "Choose a publisher", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.PublisherId, "", new { @class = "text-danger" }) // AICI ERA PROBLEMA
    <br />
    <br />
    @Html.LabelFor(b => b.GenresList, "Choose genres:")
    <br />
    for (int i = 0; i < Model.GenresList.Count(); i++)
    {
        @Html.HiddenFor(b => b.GenresList[i].Id)
        @Html.HiddenFor(b => b.GenresList[i].Name)
        @Html.CheckBoxFor(b => b.GenresList[i].Checked)
        @Html.DisplayFor(b => b.GenresList[i].Name)
        <br />
    }
    <br />

    @Html.Label("GameType", "GameType:")
    <br />
    <br />
    @Html.DropDownListFor(b => b.GameTypeId, new SelectList(Model.GameTypesList, "Value", "Text"),
    "Choose a game type", new { @class = "form-control" })

    @Html.ValidationMessageFor(b => b.GameTypeId, "", new { @class = "text-danger" })
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Create</button>
}